<!-- 처음 화면.html -->
<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<head>
	<title></title>
</head>
<body>
	<h1>My Chat App</h1>
	<h3>Hi {% if current_user.is_authenticated %}{{current_user.username}}{% else %} Guest{% endif %}</h3>
	<form action="/chat">
		<div>
			<label>Enter your username:</label>
			<input type="text" name="username" placeholder="이름은 10글자 내로!" style="text-align: center">
		</div>
		<div>
			<label>Enter room id:</label>
			<input type="text" name="room" placeholder="번호는 100번까지!" style="text-align: center">
		</div>
		<button type="submit">Submit</button>
	</form>

</body>
</html>