<!-- 채팅 화면.html -->
<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<head>
	<title>My Chat Apps</title>
</head>
<body>
	<h1>Welcome to chat room: {{room.name}}</h1>

	<div id="messages"></div>

	<form id="message_input_form">
		<input type="text" id="message_input" placeholder="Enter your message here">
		<button type="submit">Send</button>
	</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>

	// socket 이라는 변수에, 호스트 연결하기

	const socket = io.connect("http://127.0.0.1:5000");

	// socket 과 연결하기
	socket.on('connect', function(){
		// 'join_room' 이라는 socketio 로 username과 room 정보를 담은 데이터셋 보내기 
		socket.emit('join_room', {
			username:"{{username}}",
			room:"{{room._id}}"
		});

		// 입력한 메세지를 message_input 변수에 담기
		let message_input = document.getElementById('message_input');   

		// message_input_form 을 전송하고, 
		document.getElementById('message_input_form').onsubmit = function (e) {
			e.preventDefault();
			// message_input 의 값을 가져오고 공백제거
			let message = message_input.value.trim();
			// 만약 보낸 메세지가 있다면,
			if(message.length){
				socket.emit('send_message', {
					// send_message 로 username / room / message 를 보낸다.
					username:"{{username}}",
					room:"{{room._id}}",
					message: message
				})
			}
			// 데이터를 보냈다면, 해당 입력값을 지워주고 초점 맞추기
			message_input.value = '';
			message_input.focus();
		}
	});

	window.onbeforeunload = function(){
		socket.emit('leave_room', {
			username:"{{username}}",
			room:"{{room._id}}"
		})
	}

	// receive_message 에 함수 data를 보낸다. 
	socket.on('receive_message', function(data){
		// 제대로 가져왔는지 확인하기.
		console.log(data);
		// 새로운 요소로 div 를 만드는 newNode 변수를 생성
		const newNode = document.createElement('div');
		// 생성되는 div 태그 내에, <b> 태그로 메세지를 띄워주기
		newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
		// messages 라는 id 가 있는 부분의 하위 태그로 newNode로 넣어준다.
		document.getElementById('messages').appendChild(newNode);
	})

	// join_room_announcement 에서 받은 data를 가져온다.
	socket.on('join_room_announcement', function(data) {
		// 제대로 가져왔는지 확인하기.
		console.log(data);
		// 새로운 요소로 div 를 만드는 newNode 변수를 생성
		const newNode = document.createElement('div');
		// 생성되는 div 태그 내에, <b> 태그로 대화방에 들어온 것을 보여주는 입장 문구를 띄워주기
		newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
		// messages 라는 id 가 있는 부분의 하위 태그로 newNode로 넣어준다.
		document.getElementById('messages').appendChild(newNode);
	})
</script>
</html>